<div style="white-space: pre-wrap">2. /question2/answer :
  Given 2 integer arrays, find the common elements between 2 arrays
  array_1 = [3, 4, 6, 3, 7, 8, 5, 9]
  array_2 = [5, 4, 1, 2, 3]
</div>
<p><%= @result %></p>
