<div style="white-space: pre-wrap">1. /question1/answer :
  Implement bubble sort (highest to lowest and lowest to highest) in Ruby for array <%= @array %>
</div>
<p>Ascending:</p>
<p><%= @ascending %></p>
<p>Descending:</p>
<p><%= @descending %></p>
