<div style="white-space: pre-wrap">2. /question2/answer :
  Given 2 integer arrays, find the common elements between 2 arrays
  array_1 = <%= @array_1 %>
  array_2 = <%= @array_2 %>
</div>
<p><%= @result %></p>
