<div style="white-space: pre-wrap">1. /question1/answer :
  Implement bubble sort (highest to lowest and lowest to highest) in Ruby for array [9,1,8,2,7,3,6,4,5,10,13]
</div>
<p>Ascending:</p>
<p><%= @ascending %></p>
<p>Descending:</p>
<p><%= @descending %></p>
